.copyright {
    display: block;
    text-align: center;
}

.createdBy {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.createdBy img {
    width: 37px;
}