:root {
	--white: #fff;
	--gray1: #F5F8FA;
	--gray3: #E1E8ED;
	--gray7: #AAB8C2;
	--gray9: #657786;
	--black: #14171A;
	--primary: #1DA1F2;
}

html {
	--bg-color: var(--white);
	--text-color: #000;
  --hero-right-layout-bg: #8ea69b;
}

html[dark="true"] {
	--bg-color: var(--black);
	--text-color: var(--gray7);
  --hero-right-layout-bg: #2b3136;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
  font-size: 19px;
  box-sizing: border-box;
}

.toggler-wrapper {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 99999;
}

.toggler-wrapper button {
  padding: 6px 19px;
  background: var(--gray3);
  border: 0;
  cursor: pointer;
  height: 40px;
  border-radius: 4px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 0px 2px 1px #D1C4E9;
  outline: none;
}
